@mixin line-clamp($lines) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

@mixin truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin focus-visible {
  &:focus-visible {
    outline: 2px solid css-var(color-primary-light-5);
    outline-offset: 1px;
    transition:
      outline-offset 0s,
      outline 0s;
  }
}
