@keyframes co-ani-contrarotation {
  100% {
    transform: rotate(-1turn);
  }
}

@keyframes co-ani-rotation {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes co-ani-rotation45 {
  100% {
    transform: rotate(45deg);
  }
}

@keyframes co-ani-spinner {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40px;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120px;
  }
}
