@use './base/index' as *;

@include b(editor-widget-popover) {
  @include e(popper) {
    width: auto !important;
    padding: 0 !important;
    padding-block: css-var(padding-xs) !important;
    padding-inline: css-var(padding-sm) !important;
  }
}
