@use './base/index' as *;

@include b(form-tabs) {
  @include e(badge) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 16px;
    height: 16px;
    margin-inline-start: css-var(margin-xxs);
    padding-inline: 4px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    background-color: css-var(color-danger);
    border-radius: 8px;
  }
}
