@use './base/index' as *;

@include b(layout-iframe) {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;

  @include e(loading) {
    position: relative;
    width: 100%;
    height: 100%;
  }

  @include e(iframe) {
    width: 100%;
    height: 100%;
  }
}
