@use './base/index' as *;

@include b(layout-change-password) {
  @include e(title) {
    margin-block-end: css-var(margin-xl);
    text-align: center;
    font-size: css-var(font-size-heading-2);
    line-height: css-var(line-height-heading-2);
    font-weight: css-var(font-weight-strong);
  }

  @include e(icon) {
    color: css-var(text-color-regular);
  }

  @include e(button) {
    width: 100%;
  }
}
