@use './base/index' as *;

@include b(panel) {
  overflow: hidden;
  border-radius: css-var(border-radius-base);
  border: css-var(border-width) css-var(border-style) css-var(border-color-lighter);

  @include e(header) {
    display: flex;
    height: 40px;
    padding-inline: css-var(padding);
    align-items: center;
    border-block-end: css-var(border-width) css-var(border-style) css-var(border-color-lighter);
    background-color: css-var(fill-color-lighter);
  }

  @include e(body) {
    padding-inline: css-var(padding);
    padding-block: css-var(padding-xs);
  }
}
