@use './base/index' as *;

@include b(ribbon) {
  position: absolute;
  overflow: hidden;
  pointer-events: none;

  @include e(silk) {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: css-var(font-size-base);
    text-align: center;
    color: css-var(color-white);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: var(--bg);
    pointer-events: auto;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    border: calc(var(--gap) / 2) solid var(--bg);
    filter: grayscale(70%) brightness(0.7);
  }

  @include is(top-left) {
    top: calc(var(--gap) * -1);
    left: calc(var(--gap) * -1);
    right: auto;
    bottom: auto;

    @include e(silk) {
      top: 0;
      right: 0;
      left: auto;
      bottom: auto;
      transform-origin: right bottom;
      transform: translateY(-100%) rotate(-45deg);
    }

    &::before,
    &::after {
      border-color: transparent var(--bg) var(--bg) transparent;
    }

    &::before {
      top: 0;
      right: 0;
      left: auto;
      bottom: auto;
    }

    &::after {
      bottom: 0;
      left: 0;
      top: auto;
      right: auto;
    }
  }

  @include is(top-right) {
    top: calc(var(--gap) * -1);
    right: calc(var(--gap) * -1);
    left: auto;
    bottom: auto;

    @include e(silk) {
      top: 0;
      left: 0;
      bottom: auto;
      right: auto;
      transform-origin: left bottom;
      transform: translateY(-100%) rotate(45deg);
    }

    &::before,
    &::after {
      border-color: transparent transparent var(--bg) var(--bg);
    }

    &::before {
      top: 0;
      left: 0;
      bottom: auto;
      right: auto;
    }

    &::after {
      bottom: 0;
      right: 0;
      top: auto;
      left: auto;
    }
  }

  @include is(bottom-left) {
    bottom: calc(var(--gap) * -1);
    left: calc(var(--gap) * -1);
    top: auto;
    right: auto;

    @include e(silk) {
      bottom: 0;
      right: 0;
      top: auto;
      left: auto;
      transform-origin: top right;
      transform: translateY(100%) rotate(45deg);
    }

    &::before,
    &::after {
      border-color: var(--bg) var(--bg) transparent transparent;
    }

    &::before {
      bottom: 0;
      right: 0;
      top: auto;
      left: auto;
    }

    &::after {
      top: 0;
      left: 0;
      right: auto;
      bottom: auto;
    }
  }

  @include is(bottom-right) {
    bottom: calc(var(--gap) * -1);
    right: calc(var(--gap) * -1);
    top: auto;
    left: auto;

    @include e(silk) {
      bottom: 0;
      left: 0;
      top: auto;
      right: auto;
      transform-origin: left top;
      transform: translateY(100%) rotate(-45deg);
    }

    &::before,
    &::after {
      border-color: var(--bg) transparent transparent var(--bg);
    }

    &::before {
      bottom: 0;
      left: 0;
      top: auto;
      right: auto;
    }

    &::after {
      top: 0;
      right: 0;
      bottom: auto;
      left: auto;
    }
  }
}
